@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

body {
	margin: 0;
	font-family:'Lato', sans-serif;
	color: #666;
}

/**
 *
 *	Header
 *
 */

.search-form {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(31, 218, 154, 0.9);
	color: #fff;
}

.search-form.active {
	display: table;
	z-index: 2000;
}

.search-form .close-button {
	position: fixed;
	right: 0;
	top: 0;
	border: 0.0625em solid #fff;
	background: none;
	color: #fff;
	font-size: 1em;
	padding: .5em;
	cursor: pointer;
	outline: none;
}

.search-form form {
	display: table-cell;
	vertical-align: middle;
}

.search-form fieldset {
	border: 0.0625em solid #fff;
	width: 90%;
	margin: auto;
	font-size: 1.5em;
	padding: .5em;
	box-shadow: 0.2em 0.2em 10px rgba(0,0,0,.2);
	border-radius: .15em;
	box-sizing: border-box;
}

.search-form input {
	font-size: .6em;
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 2em;
	border: 0.0625em solid #fff;
	color: rgba(31, 218, 154, 1);
	outline: none;
}

.search-form .search-button {
	background-color: rgba(40, 171, 227, 1);
	border: none;
	display: block;
	width: 100%;
	margin-top: 1em;
	color: #fff;
	font-size: .6em;
	padding: .2em;
	cursor: pointer;
}

.main-header {	
	padding: 1em;
	border-bottom: 0.0625em solid rgba(31, 218, 154, 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, .8);
	z-index: 1000;
}

#logo {
	font-size: 2em;
	text-decoration: none;
	color: rgba(31, 218, 154, 1);
	font-weight: 700;
	text-transform: lowercase;
	display: block;
	float: left;
	width: 90%;
}

.main-header button {
	float: right;
	background: none;
	border: none;
	color: rgba(31, 218, 154, 1);
	font-size: 1.5em;
	padding: 0;
	display: block;
	width: 10%;
	text-align: right;
	outline: none;
}

.main-header nav {
	opacity: 1;
	height: auto;
	clear: both;

	-ms-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.main-header nav.nav-hidden {
	opacity: 0;
	height: 0;

	-ms-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.main-header nav ul {
	overflow: hidden;
}

.main-header nav ul li {
	display: block;
	float: left;
	text-transform: lowercase;
	padding: .2em .3em;
	background-color: rgba(31, 218, 154, 1);
	margin: .5em .2em;
	border-radius: .2em;
}

.main-header nav ul li:first-child {
	margin-left: 0em;
}

.main-header nav ul li a {
	color: #fff;
	text-decoration: none;
}

/**
 *
 *	Posts
 *
 */

.section-content {
	text-align: center;
	padding: .5em 0;
	font-size: 1.5em;
	background-color: rgba(31, 218, 154, 1);
	color: #fff;
}

#posts-list li a {
	text-decoration: none;
	display: block;
	overflow: hidden;
	border-bottom: 0.0625em solid rgba(31, 218, 154, 1);
	position: relative;
}

.posts-list-image {
	display: block;
	float: left;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	z-index: -10;
}

.posts-list-image img {
	-webkit-filter: blur(.2em);
	filter: blur(.2em);
}


#posts-list li.has-featured-image:hover .posts-list-image img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

#posts-list article {
	padding: 1em;
	text-align: center;
}

#posts-list li.has-featured-image article {
	background-color: rgba(0, 0, 0, .3);
}

#posts-list li.has-featured-image:hover article {
	background-color: rgba(0, 0, 0, .2);
}

#posts-list li article h3 {
 	font-size: 1.5em;
 	color: rgba(219, 51, 64, 1);
 	font-weight: bold;
}

#posts-list li.has-featured-image article h3 {
	color: #fff;
}

#posts-list li article .description {
  	color: #666;
  	padding: 1em 0em;
}

#posts-list li.has-featured-image article .description {
  	color: #fff !important;
  	text-shadow: .1em .1em .2em rgba(0, 0, 0, .3);
}

#posts-list li.has-featured-image article footer {
	color: #fff;
	font-size: .8em;
	text-shadow: .1em .1em .2em rgba(0, 0, 0, .3);
}

#posts-list article footer {
	color: #999;
}

#posts-list article footer>* {
	display: block;
	padding: .25em 0;
}

.pagination {
	padding: 1em;
	overflow: hidden;
}

.pagination, .pagination a {
	color: rgba(31, 218, 154, 1);
	text-decoration: none;
	font-size: 1em;
}

.pagination div {
	width: 50%;
}

.pagination .newer {
	float: left;
}

.pagination .older {
	text-align: right;
	float: right;
}

/**
 *
 *	Footer
 *
 */

.footer {
 	background-color: rgba(31, 218, 154, 1);
 	color: #fff;
 	padding: 1em;
 	text-align: center;
 	text-transform: lowercase;
}

.footer ul {
	padding: 1em 0;
}

.footer ul li {
	display: block;
	padding: .2em 0;
}

.footer ul a {
	color: #fff;
	text-decoration: none;
}

/**
 *
 *	Article
 *
 */

.article-header, .page-header {
	background-color: rgba(31, 218, 154, 1);
 	color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	overflow: hidden;
}

.article-header h1, .page-header h1 {
	font-size: 1.6em;
	text-align: center;
	text-shadow: .1em .1em .2em rgba(0,0,0,.4);
	padding: 1em;
}

.article-description {
	padding: 0 1em .5em 1em;
	text-align: center;
	font-size: 1.2em;
	text-shadow: .1em .1em .2em rgba(0,0,0,.4);
}

.article-header div {
	padding: 1em 0;
	text-shadow: .1em .1em .2em rgba(0,0,0,.4);
}

.article-header.featured-image {
	background-color: transparent !important;
}

.article-header.featured-image h1, .article-header.featured-image div, .article-header.featured-image .article-description {
	background-color: rgba(0, 0, 0, .3);
}

.article-meta {
	display: block;
	font-size: .8em;
	padding: .2em 1em;
}

.article-meta i {
	padding-right: 1em;
}

.article-meta a {
	color: #fff;
	text-decoration: none;
}

.header-featured-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: -10;
	margin: auto;
}

.article-content {
	padding: 1em;
	color: #666;
	border-bottom: 0.0625em solid rgba(31, 218, 154, 1);
	max-width: 50em;
	margin: auto;
	font-size: 1.2em;
}

.article-content p, .article-content ul, .article-content ol, .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
	padding: .5em 0;
}

.article-content p {
	text-align: justify;
}

.article-content li {
	padding: .2em 0;
}

.article-content img {
	display: block;
	width: 100%;
}

.article-content blockquote {
	border: .1em solid rgba(31, 218, 154, 1);
	padding: .5em;
	font-style: italic;
	font-size: .8em;
}

.article-content code {
	font-family: monospace;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6, .article-content a {
	color: rgba(219, 51, 64, 1);
}

.article-content h1 {
	font-size: 1.6em;
}

.article-content h2 {
	font-size: 1.4em;
}

.article-content em {
	font-style: italic;
}

.article-content strong {
	font-weight: bold;
}

.article-content ul {
	list-style: disc;
	margin-left: 1em;
}

.article-content ol {
	list-style: decimal;
	margin-left: 1em;
}

/**
 *
 *	Comments
 *
 */

.comments {
	max-width: 50em;
	margin: auto;
}

.comments-section-title {
	color: rgba(219, 51, 64, 1);
	text-align: center;
	font-size: 1.2em;
	padding: 1em;
	display: block;
}

.commentform p {
	padding: .5em 1em;
	overflow: hidden;
}

.commentform p label {
	color: rgba(219, 51, 64, 1);
	display: block;
}

.commentform p input, .commentform p textarea {
	display: block;
	width: 100%;
	outline: none;
	border: 0.1em solid rgba(31, 218, 154, 1);
	box-sizing: border-box;
	padding: .4em;
	font-size: .8em;
	color: #666;
}

.commentform p textarea {
	min-height: 5em;
	font-family:'Lato', sans-serif;
}

.submit button {
	background-color: rgba(40, 171, 227, 1);
	border: none;
	display: block;
	width: 100%;
	margin-top: 1em;
	color: #fff;
	font-size: 1em;
	padding: .2em;
	cursor: pointer;
}

.commentlist {
	padding: 1em;
}

.comment {
	border-bottom: 0.2em solid rgba(31, 218, 154, 1);
}

.comment h2 {
	padding-top: 1em;
	font-size: 1.2em;
	color: #666;
}

.comment h2 img {
	border-radius: 10em;
	border: 0.1em solid rgba(31, 218, 154, 1);
	margin-right: 1em;
}

.comment time {
	float: right;
}

.comment-content p {
	padding: 1em 0;
}

@media screen and (min-width: 35em) {
	.search-form .close-button {
		font-size: 1.4em;
		padding: .9em;
		border: 0.1em solid #fff;
	}

	.search-form fieldset {
		border: 0.1em solid #fff;
		width: 80%;
		font-size: 1.8em;
		padding: 1em;
	}

	.search-form input {
		font-size: .8em;
		border: 0.1em solid #fff;
	}

	.search-form .search-button {
		margin-top: 1.2em;
		font-size: .8em;
		padding: .4em;
	}

	.main-header {
		border-bottom: 0.1em solid rgba(31, 218, 154, 1);
	}

	#logo {
		font-size: 3em;
	}

	.main-header button {
		font-size: 2em;
	}

	.main-header nav ul li {
		padding: .4em .6em;
		margin: .4em .4em;
		font-size: 1.2em;
	}

	.section-content {
		padding: .5em 0;
		font-size: 2em;
	}

	#posts-list li a {
		border-bottom: .1em solid rgba(31, 218, 154, 1);
	}

	#posts-list article h3 {
	 	font-size: 2em;
	}

	#posts-list article .description {
	  	font-size: 1.4em;
	}

	#posts-list article footer {
		font-size: 1em;
	}

	#posts-list article footer>* {
		padding: .4em 0;
	}

	.pagination {
		max-width: 50em;
		margin: auto;
	}

	.pagination, .pagination a {
		font-size: 1.4em;
	}

	.footer {
		font-size: 1.2em;
	}

	.article-header h1, .page-header h1 {
		font-size: 2.2em;
		padding: 1em;
	}

	.article-description {
		font-size: 1.4em;
		padding: 0 2em 4em 2em;
	}

	.article-header div {
		overflow: hidden;
	}

	.article-meta {
		display: block;
		float: left;
		font-size: 1em;
		padding: .5em 1em;
		width: 50%;
		box-sizing: border-box;
	}

	.article-content {
		border-bottom: 0.1em solid rgba(31, 218, 154, 1);
		font-size: 1.4em;
	}

	.article-content blockquote {
		font-size: 1em;
	}

	.commentform p label {
		font-size: 1.2em;
		padding: .4em 0;
	}

	.commentform p input, .commentform p textarea {
		padding: .6em;
		font-size: 1em;
	}

	.submit button {
		font-size: 1.2em;
		padding: .4em;
	}

	.comment h2 {
		font-size: 1.6em;
	}

	.comment-content {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 60em) {
	.search-form fieldset {
		width: 40%;
	}

	#posts-list {
		overflow: hidden;
	}

	#posts-list li {
		display: block;
		float: left;
		width: 50%;
		box-sizing: border-box;
	}

	#posts-list li:nth-child(odd) {
		border-right: .1em solid rgba(31, 218, 154, 1);
		clear: both;
	}

	.article-header h1 {
		font-size: 4em;
		font-weight: bold;
	}

	.article-description {
		font-size: 1.8em;
		padding: 0 4em 4em 4em;
	}

	.article-meta {
		width: 100%;
		font-size: 1.2em;
	}
}